body
{
    text-align : center;
}

hr
{
    width : 500px;
}

#board
{
    width : 400px;
    height : 400px;
    background-color: rgb(140, 150, 120);
    border : 6px solid black;

    margin : 0 auto;
    display : flex;
    flex-wrap : wrap;
}

.tile
{
    width : 90px;
    height : 90px;
    border : 5px solid black;

    font-size: 40px;
    font-weight: bold;

    display : flex;
    justify-content : center;
    align-items : center;
}

.x2
{
    color : black;
    background-color: rgb(255, 229, 180);
}

.x4
{
    color : black;
    background-color: orange;
}

.x8
{
    color : black;
    background-color: skyblue;
}

.x16
{
    color : white;
    background-color: red;
}

.x32
{
    color : black;
    background-color: lightgreen;
}

.x64
{
    color : white;
    background-color: violet;
}

.x128
{
    color : black;
    background-color: yellow;
}

.x256
{
    color : white;
    background-color: dark red;
}

.x512
{
    color : black;
    background-color: blue;
}

.x1024
{
    color : black;
    background-color: green;
}

@keyframes winner 
{
    from {background-color: red;}
  to {background-color: yellow;}
}

.x2048
{
    color : black;
    animation-name: winner;
    animation-duration: 4s;
}


